.footer {
  display: grid;
  grid-template-columns: 1fr;
  padding: 50px;
  @media (max-width: 700px) {
    padding: 0 20px 20px 20px;
  }

  &-line {
    height: 2px;
    background: #F5A623;
    display: grid;
    grid-template-columns: 1fr;
    margin: 10px 0;
    @media (max-width: 700px) {
      margin: 20px 0;
    }
  }

  &-top {
    display: grid;
    grid-template-columns: 6fr 1fr;
    grid-gap: 10px;
    @media (max-width: 1000px) {
      grid-template-columns: 1fr 130px;;
    }
    @media (max-width: 700px) {
      grid-template-columns: 1fr;
    }

    &-right {
      display: flex;
      align-items: center;
      justify-content: space-between;
      @media (max-width: 1000px) {
        margin-left: 10px;
      }
      @media (max-width: 700px) {
        padding: 0 40px;
      }
      @media (max-width: 320px) {
        padding: 0;
      }
    }

    &-left {
      display: flex;
      align-items: center;
      @media (max-width: 700px) {
        flex-direction: column;
        align-items: flex-start;
      }

      &-link {
        margin-right: 20px;
        cursor: pointer;
        text-decoration: none;
        color: white;
        @media (max-width: 700px) {
          height: 44px;
          width: 100%;
          display: flex;
          align-items: center;
          background: #1D1E1F;
          margin-bottom: 1px;
          &:not(:last-child) {
            box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.44);
          }
        }

        &:hover {
          color: #F5A623;
        }
      }
    }
  }

  &-bottom {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    @media (max-width: 700px) {
      grid-template-columns: 1fr;
      grid-template-areas: 'b''a';
    }

    &-text {
      @media (max-width: 700px) {
        height: 44px;
        display: flex;
        align-items: center;
        grid-area: a;
      }
    }

    &-mail {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      @media (max-width: 700px) {
        height: 44px;
        justify-content: unset;
        grid-area: b;
      }
    }
  }
}

.media {

  &-icon {
    height: 20px;
    width: 20px;
  }
}


.facebook {
  background: url("/assets/icons/facebook.svg") center /cover no-repeat;
}

.telegram {
  background: url("/assets/icons/telegram.svg") center /cover no-repeat;
}

.twitter {
  background: url("/assets/icons/twitter.svg") center /cover no-repeat;
}

.medium {
  background: url("/assets/icons/medium.svg") center /cover no-repeat;
}

.linkedin {
  background: url("/assets/icons/linkedin.svg") center /cover no-repeat;
}

.text_color {
  color: #F5A623;
  cursor: pointer;
}
