<div class="footer">
    <div class="footer-top">
        <div class="footer-top-left">
            <a class="footer-top-left-link" href="mailto:info@pukkamex.com">Contact us</a>
            <a class="footer-top-left-link" routerLink="/faq">FAQ</a>
            <a class="footer-top-left-link" href="https://pukkamex.com/index.php/legal-statement/" target="_blank">Legal
                Statement</a>
            <a class="footer-top-left-link" href="https://pukkamex.com/index.php/privacy-policy/" target="_blank">Privacy
                Policy</a>
            <a class="footer-top-left-link" href="https://pukkamex.com/index.php/terms-of-service/" target="_blank">Terms
                of Service</a>
        </div>
        <div class="footer-top-right">
            <a class="media-icon facebook" href="https://www.facebook.com/pukkamex/" target="_blank"></a>
            <a class="media-icon telegram" href="https://t.me/pukkamex" target="_blank"></a>
            <a class="media-icon twitter" href="https://twitter.com/pukkamex" target="_blank"></a>
            <a class="media-icon medium" href=" https://medium.com/@pukkamex" target="_blank"></a>
            <a class="media-icon linkedin" href="https://www.linkedin.com/company/pukkamex/about/" target="_blank"></a>

        </div>
    </div>
    <div class="footer-line"></div>

    <div class="footer-bottom">
        <div class="footer-bottom-text">Pakkamex @2019 All right reserved</div>
        <div class="footer-bottom-mail">Any question? - <a class="text_color" href="mailto:info@pukkamex.com">info@pukkamex.com</a>
        </div>
    </div>
</div>
