.header {
  height: 60px;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 13px;
  z-index: 100;

  background: #1D1E1F;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.50);
  padding: 0 20px;

  &-logo {
    display: flex;
    align-items: center;
    height: 100%;

    &-img {
      height: 27px;
      width: 105px;
      cursor: pointer;
    }
  }

  &-wrap {
    display: flex;
    align-items: center;
  }

  &-navigation {
    margin-left: 50px;
    display: flex;
    align-items: center;
    @media (max-width: 1070px) {
      display: none;
    }

    &-link {
      cursor: pointer;
      text-decoration: none;
      color: white;
      user-select: none;
      font-weight: 500;

      &:not(:last-child) {
        margin-right: 20px;
      }

      &:hover {
        color: #F5A623;
      }
    }
  }

  &-social {
    display: flex;
    align-items: center;
    @media (max-width: 500px) {
      display: none;
    }

    &-icon {
      height: 18px;
      width: 18px;

      &:not(:last-child) {
        margin-right: 20px;
      }
    }
  }

  &-paper {
    margin-left: 40px;

    &-button {
      height: 44px;
      background: #F5A623;

      //@media (max-width: 940px) {
      //  display: none;
      //}
    }
  }

  &-mobile_menu {
    height: 24px;
    width: 24px;
    @media (min-width: 940px) {
      display: none;
    }
  }
}


.logo {
  background: url("/assets/logo/logo_header.svg") center /cover no-repeat;
}

.telegram {
  background: url("/assets/icons/telegram.svg") center /cover no-repeat;
}

.twitter {
  background: url("/assets/icons/twitter.svg") center /cover no-repeat;
}

.facebook {
  background: url("/assets/icons/facebook.svg") center /cover no-repeat;
}

.linkedin {
  background: url("/assets/icons/linkedin.svg") center /cover no-repeat;
}

.menu {
  background: url("/assets/icons/menu.svg") center /cover no-repeat;
}

.medium {
  background: url("/assets/icons/medium.svg") center /cover no-repeat;
}
