<div class="header">
    <div class="header-wrap">
        <div class="header-logo">
            <a class="header-logo-img logo" href="#home"></a>
        </div>
        <div class="header-navigation">
            <a class="header-navigation-link under" href="#home">Home</a>
            <a class="header-navigation-link under" href="#tokenomics">Tokenomics</a>
            <a class="header-navigation-link under" href="#team">Team</a>
            <a class="header-navigation-link under" href="#tokens">What Is Pukkamex</a>
            <a class="header-navigation-link under" href="http://mvp.pukkamex.com/" target="_blank">MVP</a>
            <a class="header-navigation-link under" href="mailto:info@pukkamex.com">Contact Us</a>
            <a class="header-navigation-link under" href="https://medium.com/@pukkamex" target="_blank">Blog</a>
            <a class="header-navigation-link under" routerLink="/faq">FAQ</a>
        </div>
    </div>
    <div class="header-wrap">
        <div class="header-social">
            <a class="header-social-icon facebook" href="https://www.facebook.com/pukkamex/" target="_blank"></a>
            <a class="header-social-icon telegram" href="https://t.me/pukkamex" target="_blank"></a>
            <a class="header-social-icon twitter" href="https://twitter.com/pukkamex" target="_blank"></a>
            <a class="header-social-icon medium" href="https://medium.com/@pukkamex" target="_blank"></a>
            <a class="header-social-icon linkedin" href="https://www.linkedin.com/company/pukkamex/about/"
               target="_blank"></a>
        </div>

        <div class="header-paper">
            <button class="header-paper-button" mat-raised-button color="primary">
                <a class="text_link"
                   href="https://pukkamex.com/wp-content/uploads/2019/07/pukkamex-White-Paper-Release-v3.0.pdf"
                   target="_blank">Whitepaper</a>
            </button>
        </div>
    </div>
<!--    <div class="header-mobile_menu menu"></div>-->
</div>
