<div class="main" id="home">
    <div class="main-text">
        <div class="main-text-wrap">
            <div class="main-text-wrap-animation">The Liquidation Insurance</div>
            <div class="main-text-wrap-title">Enabled by PUX!</div>
            <div class="main-text-wrap-description">PUKKAMEX is The World’s first leveraged cryptocurrency trading
                platform that shares its success with its token holders.
            </div>
            <div class="main-buttons">
                <button class="main-buttons-button"
                        mat-raised-button color="primary"
                        matTooltip="This section is under construction, stay tuned....">Start trading
                </button>
                <button class="main-buttons-button color_button"
                        mat-raised-button
                        color="primary"><a
                        class="text_link"
                        href="https://medium.com/@pukkamex/official-pukkamex-ieo-on-lbank-info-b4de8570cb69"
                        target="_blank">Purchase PUX</a>
                </button>
            </div>
        </div>
    </div>
    <div class="main-image background"></div>
</div>

<!--<button mat-button (click)="openDialog()">Open dialog</button>-->
<!--block_features-->

<div class="features">
    <div class="features-feature">
        <div class="features-feature-icon icon_share"></div>
        <div class="features-feature-text">
            <span class="text_color">Share our Success</span> 25% of weekly gross revenue is used to purchase Go Tokens.
            Go
            Tokens are distributed to PUX holders every Sunday
            at 12:00 GMT via smart contract.
        </div>
    </div>

    <div class="features-feature">
        <div class="features-feature-icon icon_copy"></div>
        <div class="features-feature-text">
            <span class="text_color">Copy trading access</span>
            To make the copy trading accessible to both the followed trader and the copier, the user must make a one
            time
            purchase of PUX tokens from the open market. The PUX tokens are then deposited into the users’ account and
            are
            directed into a burn address where they are
            permanently removed from the token supply.
        </div>
    </div>

    <div class="features-feature">
        <div class="features-feature-icon icon_burn"></div>
        <div class="features-feature-text">

            <span class="text_color">PUX point liquidation insurance</span>
            PUXP (PUX Point) is distributed to every single trader if a liquidation is triggered; 1 PUXP is rewarded for
            each
            1 contract liquidated, this is visible via my account page; these points are non-transferrable.
            At the end of every quarter 15% of the increase in the insurance fund’s size is distributed to PUXP holders
            in BTC
            relative to their holdings to total PUXP available, at which point all PUXP balances are set to zero.
        </div>
    </div>

    <div class="features-feature">
        <div class="features-feature-icon icon_quarterly"></div>
        <div class="features-feature-text">
            <span class="text_color">Quarterly token burn and buyback</span>
            On the first Monday preceding every quarter, pukkamex will use 0.5% of gross revenue from the quarter to buy
            PUX
            tokens from the pukkamex Platform at market price. The purchased tokens will be consequently sent to a burn
            address where they will be destroyed forever. The buy-back and burn will continue until the total token
            supply
            reaches 125 million PUX tokens.
        </div>
    </div>
</div>


<!--users-->


<div class="users">
    <div class="users-text">
        <div class="users-text-title">REGISTERED USERS & COUNTING <br class="hide_br"><span>30,333</span></div>
    </div>

    <div class="users-form">
        <div class="users-form-text">
            Wait-list for the world's most<br class="hide_br"> anticipated leveraged trading platform
        </div>

        <div class="users-form-wrap">
            <label>
                <input class="input_style" type="text" placeholder="Sign up to be one of the first...">
            </label>
            <button class="users-form-wrap-button" mat-raised-button color="primary" id="tokenomics">Submit</button>
        </div>
    </div>
</div>

<!--schedule-->


<div class="tokenomiks">
    <div class="tokenomiks-title">Pukkamex tokenomics</div>
    <div>At The Heart of The pukkamex Exchange</div>
    <div>View detailed tokenomics - <a class="text_link color"
                                       href="https://pukkamex.com/wp-content/uploads/2019/07/pukkamex-tokenomics-Go.pdf"
                                       target="_blank">Here</a></div>


    <div class="tokenomiks-table">
        <div class="tokenomiks-table-item">
            <div class="tokenomiks-table-item-name">Initial token distribution</div>
            <div class="tokenomiks-table-item-name-line">
                <div class="schedule_wrap">
                    <div class="schedule_line one" matTooltip="Marketing - 5%" matTooltipPosition="above">5%</div>
                    <div>Marketing</div>
                </div>
                <div class="schedule_wrap">
                    <div class="schedule_line two" matTooltip="Team - 25%" matTooltipPosition="above">25%</div>
                    <div>Team</div>
                </div>
                <div class="schedule_wrap">
                    <div class="schedule_line three" matTooltip="Partners & Advisers - 10%" matTooltipPosition="above">
                        10%
                    </div>
                    <div>Partners & Advisers</div>
                </div>
                <div class="schedule_wrap">
                    <div class="schedule_line four" matTooltip="Token Sale - 60%" matTooltipPosition="above">60%</div>
                    <div>Token Sale</div>
                </div>
            </div>
        </div>

        <div class="tokenomiks-table-item">
            <div class="tokenomiks-table-item-name">Sale proceeds allocation</div>
            <div class="tokenomiks-table-item-name-line_two">
                <div class="schedule_wrap">
                    <div class="schedule_line five" matTooltip="Product & Key Hires - 40%" matTooltipPosition="above">
                        40%
                    </div>
                    <div>Product & Key Hires</div>
                </div>
                <div class="schedule_wrap">
                    <div class="schedule_line six" matTooltip="Legal & Licensing - 30%" matTooltipPosition="above">30%
                    </div>
                    <div>Legal & Licensing</div>
                </div>
                <div class="schedule_wrap">
                    <div class="schedule_line seven" matTooltip="Office Space - 12%" matTooltipPosition="above">12%
                    </div>
                    <div>Office Space</div>
                </div>
                <div class="schedule_wrap">
                    <div class="schedule_line nine" matTooltip="Marketing - 18%" matTooltipPosition="above">18%</div>
                    <div>Marketing</div>
                </div>
            </div>
        </div>
    </div>
    <div class="tokenomiks-data">
        <div class="tokenomiks-data-numbers">
            <div class="tokenomiks-data-numbers-text">250 000 000</div>
            <div>Total supply</div>
        </div>
        <div class="tokenomiks-data-numbers">
            <div class="tokenomiks-data-numbers-text">150 000 000</div>
            <div>Circulating supply</div>
        </div>
        <div class="tokenomiks-data-numbers">
            <div class="tokenomiks-data-numbers-text">7 500 000</div>
            <div>Ieo market cap</div>
        </div>
        <div class="tokenomiks-data-numbers">
            <div class="tokenomiks-data-numbers-text">$0.05</div>
            <div id="team">IEO Price</div>
        </div>
    </div>
</div>


<!--Team-->


<div class="team">
    <div class="team-title">pukkamex Team</div>
    <p class="team-description">With over 50 years of shared experience in financial markets, crypto, business
        development, sales, and software development, our team is perfectly positioned to make pukkamex the number 1
        trading
        platform the world over.</p>
    <div class="team-managers">

        <div class="team-managers-name">
            <div class="name_color">Ahmad Sharkatly</div>
            <div>Chief Executive Officer</div>
            <a href="https://www.linkedin.com/in/ahmad-al-sharkatly-b7669233"
               target="_blank">
                <button class="team-managers-more" mat-raised-button>linkedin</button>
                <!--            <button class="team-managers-more" mat-raised-button (click)="openDialog1()">more</button>-->
            </a>
        </div>

        <div class="team-managers-name">
            <div class="name_color">Mohammad Masri</div>
            <div>Head Of Compliance</div>
            <a href="https://www.linkedin.com/in/therealmomasri/" target="_blank">
                <button class="team-managers-more" mat-raised-button>linkedin</button>
                <!--                <button class="team-managers-more" mat-raised-button (click)="openDialog2()">more</button>-->
            </a>
        </div>

        <div class="team-managers-name">
            <div class="name_color">Fuad Abujaber</div>
            <div>Chief Communication Officer</div>
            <a href="https://www.linkedin.com/in/fuad-abujaber/" target="_blank">
                <button class="team-managers-more" mat-raised-button>linkedin</button>
                <!--                <button class="team-managers-more" mat-raised-button (click)="openDialog3()">more</button>-->
            </a>
        </div>

        <div class="team-managers-name">
            <div class="name_color">Mahmoud Sharkatly</div>
            <div>Head Of Business Development</div>
            <a href="https://www.linkedin.com/in/mahmoud-alsharqatli-193bb17a/" target="_blank">
                <button class="team-managers-more" mat-raised-button>linkedin</button>
                <!--                <button class="team-managers-more" mat-raised-button (click)="openDialog4()">more</button>-->
            </a>
        </div>

        <div class="team-managers-name">
            <div class="name_color">Laith Alghoul</div>
            <div>Blockchain Engineer & Frontend Lead</div>
            <a href="https://www.linkedin.com/in/laith-alghoul/">
                <button class="team-managers-more" mat-raised-button>linkedin</button>
                <!--            <button class="team-managers-more" mat-raised-button (click)="openDialog5()">more</button>-->
            </a>
        </div>

        <div class="team-managers-name">
            <div class="name_color">Alex Popov</div>
            <div>Full Stack Developer & Blockchain Engineer</div>
            <a href="https://www.linkedin.com/in/dominusrex/" target="_blank">
                <button class="team-managers-more" mat-raised-button>linkedin</button>
                <!--            <button class="team-managers-more" mat-raised-button (click)="openDialog5()">more</button>-->
            </a>

        </div>

        <div class="team-managers-name">
            <div class="name_color">Shaikh Almualla</div>
            <div>Director, Persici LTD</div>

            <a href="https://www.linkedin.com/in/shkalmualla/" target="_blank">
                <button class="team-managers-more" mat-raised-button>linkedin</button>
                <!--            <button class="team-managers-more" mat-raised-button (click)="openDialog5()">more</button>-->
            </a>
        </div>

        <div class="team-managers-name">
            <div class="name_color">陈思远 (Cedric)</div>
            <div>Financial Advisor</div>
            <a href="https://www.linkedin.com/in/chensiyuan1986/" target="_blank">
                <button class="team-managers-more" mat-raised-button>linkedin</button>
                <!--            <button class="team-managers-more" mat-raised-button (click)="openDialog5()">more</button>-->
            </a>
        </div>

        <div class="team-managers-name">
            <div class="name_color">Kareem Darwazah</div>
            <div>Advisor On Ventures & Strategic Partnerships</div>
            <a href="https://www.linkedin.com/in/kareem-darwazah-5565ab9a/" target="_blank">
                <button class="team-managers-more" mat-raised-button>linkedin</button>
                <!--            <button class="team-managers-more" mat-raised-button (click)="openDialog5()">more</button>-->
            </a>
        </div>

        <div class="team-managers-name">
            <div class="name_color">Sanem Avcil</div>
            <div>Blockchain Expert</div>
            <a href="https://www.linkedin.com/in/sanemavcil/" target="_blank">
                <button class="team-managers-more" mat-raised-button>linkedin</button>
                <!--            <button class="team-managers-more" mat-raised-button (click)="openDialog5()">more</button>-->
            </a>
        </div>

        <div class="team-managers-name">
            <div class="name_color">Deepanshu Bhatt</div>
            <div>Marketing & ICO Strategy Advisor</div>
            <a href="https://www.linkedin.com/in/deepanshubhatt/" target="_blank">
                <button class="team-managers-more" mat-raised-button>linkedin</button>
                <!--            <button class="team-managers-more" mat-raised-button (click)="openDialog5()">more</button>-->
            </a>
        </div>

        <div class="team-managers-name">
            <div class="name_color">Nayef Copty</div>
            <div>API, High Frequency & Algo Trading Advisor</div>
            <a href="https://www.linkedin.com/in/nayefcopty/" target="_blank">
                <button class="team-managers-more" mat-raised-button>linkedin</button>
                <!--            <button class="team-managers-more" mat-raised-button (click)="openDialog5()">more</button>-->
            </a>
        </div>

        <div class="team-managers-name">
            <div class="name_color">Naviin Kapoor</div>
            <div>ICO And Blockchain Advisor</div>
            <a href="https://www.linkedin.com/in/naviinkapoor/" target="_blank">
                <button class="team-managers-more" mat-raised-button>linkedin</button>
                <!--            <button class="team-managers-more" mat-raised-button (click)="openDialog5()">more</button>-->
            </a>
        </div>

        <div class="team-managers-name">
            <div class="name_color">Hatu S.</div>
            <div>Blockchain Expert & Maker DAO Operations Head</div>
            <a href="https://www.linkedin.com/in/naviinkapoor/" target="_blank">
                <button class="team-managers-more" mat-raised-button>linkedin</button>
                <!--            <button class="team-managers-more" mat-raised-button (click)="openDialog5()">more</button>-->
            </a>
        </div>
    </div>
</div>

<div class="partners">
    <div class="partners-title">Business & media partners</div>
    <div class="partners-cards">
        <a class="partners-cards-card partner_one" href="http://arabbit.net" target="_blank"></a>
        <a class="partners-cards-card partner_two" href="https://gochain.io" target="_blank"></a>
        <a class="partners-cards-card partner_six" href="https://pfs.ltd" target="_blank"></a>
        <a class="partners-cards-card partner_three" href="https://www.platinumcryptoacademy.com" target="_blank"></a>
        <a class="partners-cards-card partner_four" href="https://www.ivanontech.com" target="_blank"></a>
        <a id="tokens" class="partners-cards-card partner_five" href="https://airdrops.io/pukkamex/"
           target="_blank"></a>
    </div>
</div>


<div class="label">
    <div class="label-wrap">
        <div class="label-wrap-title">SETTING THE GOLD STANDARD FOR THE EXCHANGE OF THE FUTURE</div>
        <p class="label-wrap-text">pukkamex is lightning fast, easy to use and provides never before seen features made
            possible by PUX; copy top traders, insure your positions against liquidation and receive a weekly share of
            our
            success paid in Go
            Tokens.</p>
    </div>
</div>


<div class="news" id="news">
    <div class="news-wrap">
        <div class="news-title">
            <div class="news-title-text">News & Events</div>
            <div class="news-title-more">
                <a class="news-title-more-text"
                   href="https://medium.com/@pukkamex"
                   target="_blank">All news</a>
                <div class="news-title-more-icon icon_right"></div>
            </div>
        </div>

        <div class="news-cards">
            <div class="news-cards-card">
                <div class="news-cards-card-image">
                    <img class="img" src="/assets/news/news.jpg" alt="">
                </div>
                <a class="news-cards-card-text"
                   href="https://medium.com/@pukkamex/fud-why-we-love-it-c2acce0a6910"
                   target="_blank">
                    <div class="news-cards-card-text-date">August 7, 2019</div>
                    <p class="text_link">aFUD; WHY WE LOVE IT!</p>
                </a>
            </div>
            <div class="news-cards-card">
                <div class="news-cards-card-image">
                    <img class="img" src="/assets/news/news.jpg" alt="">
                </div>
                <a class="news-cards-card-text"
                   href="https://medium.com/@pukkamex/رموز-pux-غير-المباعة-الية-عمل-محدثة-9cd0c0c6a630"
                   target="_blank">
                    <div class="news-cards-card-text-date">August 7, 2019</div>
                    <p class="text_link">رموز PUX غير المباعة؛ الية عمل محدثة</p>
                </a>
            </div>
            <div class="news-cards-card">
                <div class="news-cards-card-image">
                    <img class="img" src="/assets/news/news.jpg" alt="">
                </div>
                <a class="news-cards-card-text"
                   href="https://medium.com/@pukkamex/unsold-pux-tokens-mechanics-upgraded-9179d516f52a"
                   target="_blank">
                    <div class="news-cards-card-text-date">August 7, 2019</div>
                    <p class="text_link">Unsold PUX tokens; Mechanics Upgraded</p>
                </a>
            </div>
            <div class="news-cards-card">
                <div class="news-cards-card-image">
                    <img class="img" src="/assets/news/news.jpg" alt="">
                </div>
                <a class="news-cards-card-text"
                   href="https://medium.com/@pukkamex/بيان-رسمي-ieo-بوكامكس-على-ل-بانك-lbank-info-273dbad0f4b?source=---------5------------------"
                   target="_blank">
                    <div class="news-cards-card-text-date">August 7, 2019</div>
                    <p class="text_link">بيان رسمي: IEO بوكامكس على ل بانك (Lbank.info)</p>
                </a>
            </div>
            <div class="news-cards-card">
                <div class="news-cards-card-image">
                    <img class="img" src="/assets/news/news.jpg" alt="">
                </div>
                <a class="news-cards-card-text"
                   href="https://medium.com/@pukkamex/official-pukkamex-ieo-on-lbank-info-b4de8570cb69"
                   target="_blank">
                    <div class="news-cards-card-text-date">August 5, 2019</div>
                    <p class="text_link">OFFICIAL; PUKKAMEX IEO ON LBANK.INFO</p>
                </a>
            </div>
            <div class="news-cards-card">
                <div class="news-cards-card-image">
                    <img class="img" src="/assets/news/news.jpg" alt="">
                </div>
                <a class="news-cards-card-text"
                   href="https://medium.com/@pukkamex/puxمسابقة-تصميم-غرافيك-اربح-50-الف-dd7c75ce74f9"
                   target="_blank">
                    <div class="news-cards-card-text-date">August 4, 2019</div>
                    <p class="text_link">مسابقة تصميم غرافيك</p>
                </a>
            </div>
        </div>
    </div>
</div>


<div class="roadmap-title">Roadmap</div>
<div class="roadmap">
    <div class="roadmap-wrap">
        <div class="roadmap-item">
            <div>
                <div class="data_color">may 2019</div>
                <div>Private sale contributions accepted, fully working off chain prototype released to the community &
                    strategic
                    partnerships
                </div>
            </div>
            <div></div>
            <div>
                <div class="data_color">june 2019</div>
                <div>Presale completion, full Scale Marketing & on chain prototype
                </div>
            </div>
            <div></div>
            <div>
                <div class="data_color">june 2019</div>
                <div>
                    IEO on LBANK.info followed by immediate listing. Ready for launch with BTC derivativs and copy
                    trading
                    function. Smart contract distributes first round of success share
                </div>
            </div>
        </div>
        <div class="roadmap-item color_line">
            <div class="roadmap-item-dot"></div>
            <div class="roadmap-item-dot"></div>
            <div class="roadmap-item-dot"></div>
            <div class="roadmap-item-dot"></div>
            <div class="roadmap-item-dot"></div>
        </div>
        <div class="roadmap-item">
            <div></div>
            <div>
                <div class="data_color">August 2019</div>
                <div>
                    Addition of Eth perpetual contract. Spot exchange is enabled. Anti liquidation insurance is enabled.
                    First
                    round of PUX airdrop.
                </div>
            </div>
            <div></div>
            <div>
                <div class="data_color">january 2021</div>
                <div>
                    Derivatives on Ether, LTC, EOS, XMR, XRP & BCH added to pukkamex. Target market share achieved
                </div>
            </div>
            <div></div>
        </div>
    </div>
</div>

