.main {
  height: 700px;
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-gap: 10px;
  @media (max-width: 900px) {
    grid-template-columns: 1fr;
    grid-template-areas: 'b''a';
    height: 100%;
  }

  &-text {
    display: flex;
    align-items: center;
    @media (max-width: 900px) {
      grid-area: a;
    }

    &-wrap {
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 10px;
      padding: 0 0 0 50px;
      @media (max-width: 900px) {
        margin: 30px 0;
        padding: 0 50px;
      }
      @media (max-width: 700px) {
        padding: 0 20px;
      }

      &-animation {
        font-family: Roboto-Bold, sans-serif;
        font-size: 21px;
        color: #FFFFFF;
        letter-spacing: -0.11px;
      }

      &-title {
        font-family: Roboto-Bold, sans-serif;
        font-size: 34px;
        color: #FFFFFF;
        letter-spacing: -0.2px;
      }

      &-description {
        font-family: Roboto-Regular, sans-serif;
        font-size: 18px;
        color: #FFFFFF;
        text-align: left;
        line-height: 28px;
        margin-bottom: 20px;
      }
    }
  }

  &-image {
    @media (max-width: 900px) {
      grid-area: b;
      height: 50vw;
      margin-top: 90px;
    }
  }

  &-buttons {
    &-button {
      background: #F5A623;
      height: 44px;
      width: 180px;

      &:not(:last-child) {
        margin-right: 10px;
      }

      @media (max-width: 1060px) {
        width: unset;
      }

      @media (max-width: 700px) {
        width: 100%;
        margin-bottom: 10px;
      }
    }
  }
}

//features

.features {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
  padding: 20px 50px;

  @media (max-width: 1024px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 700px) {
    padding: 20px;
  }

  @media (max-width: 500px) {
    grid-template-columns: 1fr;
    padding: 20px;
  }

  &-feature {
    margin-top: 20px;

    &-icon {
      height: 24px;
      width: 24px;
      margin-bottom: 10px;
    }

    &-text {

    }
  }
}

.users {
  display: grid;
  grid-template-columns: 3fr 2fr;
  background: #F5A623;
  border-radius: 10px;
  margin: 170px 50px;
  padding: 20px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.50);
  @media (max-width: 1050px) {
    grid-template-columns: 1fr 1fr;
  }
  @media (max-width: 880px) {
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }

  @media (max-width: 700px) {
    margin: 50px 20px;
  }

  &-text {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 1fr 1fr;
    grid-gap: 10px;

    &-title {
      font-family: Roboto-Bold, sans-serif;
      font-size: 34px;
      color: #FFFFFF;
    }

    &-number {
      font-family: Roboto-Bold, sans-serif;
      font-size: 34px;
      color: #1D1E1F;
      display: flex;
      align-items: center;
    }
  }

  &-form {
    grid-template-columns: 1fr;
    grid-auto-rows: 1fr 1fr;
    grid-gap: 10px;

    &-text {
      display: flex;
      align-items: center;
      font-family: Roboto-Bold, sans-serif;
      font-size: 16px;
      color: #1D1E1F;
    }

    &-wrap {
      display: grid;
      grid-template-columns: 1fr 140px;
      grid-gap: 10px;
      margin-top: 9px;
      @media (max-width: 450px) {
        grid-template-columns: 1fr;
      }

      &-button {
        height: 44px;
        background: #1D1E1F;
        color: white;
      }
    }
  }
}


.background {
  background: url("/assets/background/image-01.svg") center /cover no-repeat;

  @media (max-width: 900px) {
    background: url("/assets/background/image-02.svg") center /cover no-repeat;
  }
}

.color_button {
  background: #1D1E1F;
  color: white;
  border: #F5A623 1px solid;
}

.text_color {
  color: #F5A623;
  text-transform: uppercase;
}

.icon_share {
  background: url("/assets/icons/share.svg") center /cover no-repeat;;
}

.icon_copy {
  background: url("/assets/icons/copy.svg") center /cover no-repeat;;
}

.icon_burn {
  background: url("/assets/icons/burn.svg") center /cover no-repeat;;
}

.icon_quarterly {
  background: url("/assets/icons/quarterly.svg") center /cover no-repeat;;
}

.input_style {
  border-radius: 4px;
  height: 38px;
  width: 100%;
  max-width: 100%;
  color: #1D1E1F;
}

.hide_br {
  @media (max-width: 1055px) {
    display: none;
  }
}

.tokenomiks {
  display: grid;
  grid-template-columns: 1fr;
  padding: 50px;
  @media (max-width: 700px) {
    padding: 50px 20px;
  }

  &-title {
    font-family: Roboto-Bold, sans-serif;
    text-transform: uppercase;
    font-size: 21px;
    color: #FFFFFF;
    margin-bottom: 10px;
  }

  &-table {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    @media (max-width: 1150px) {
      grid-template-columns: 1fr;
    }

    &-item {
      &-name {
        font-family: Roboto-Bold, sans-serif;
        font-size: 15px;
        color: #FFFFFF;
        margin-top: 30px;

        &-line {
          margin-top: 20px;
          display: grid;
          grid-template-columns: 5fr 25fr 10fr 60fr;
        }

        &-line_two {
          margin-top: 20px;
          display: grid;
          grid-template-columns: 40fr 30fr 12fr 18fr;
        }
      }
    }
  }

  &-data {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    margin-top: 60px;
    @media (max-width: 880px) {
      grid-template-columns: 1fr 1fr;
    }
    @media (max-width: 450px) {
      grid-template-columns: 1fr;
    }

    &-numbers {
      &:not(:last-child) {
      }

      &-text {
        font-family: Roboto-Bold, sans-serif;
        font-size: 32px;
        color: #FFFFFF;
      }
    }
  }
}

.schedule_wrap {
  display: flex;

  align-items: center;
  flex-direction: column;
}

.schedule_line {
  height: 30px;
  width: 100%;
  cursor: pointer;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.one {
  background: #FDF9E0;
}

.two {
  background: #FFDDD2;
}

.three {
  background: #D5C2D5;
}

.four {
  background: #5EA9BC;
}

.five {
  background: #E9B67B;
}

.six {
  background: #CE756F;
}

.seven {
  background: #88576A;
}

.nine {
  background: #432233;
}

.team {
  margin: 170px 0;
  padding: 0 50px;
  @media (max-width: 700px) {
    padding: 0 20px;
  }
  @media (max-width: 600px) {
    margin-top: 40px;
  }

  &-title {
    /* pukkamex Team: */
    font-family: Roboto-Bold, sans-serif;
    font-size: 21px;
    text-transform: uppercase;
  }

  &-description {
    width: 500px;
    @media (max-width: 900px) {
      width: 100%;
    }
  }

  &-managers {
    margin-top: 38px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;

    @media (max-width: 1060px) {
      grid-template-columns: repeat(4, 1fr);
    }
    @media (max-width: 980px) {
      grid-template-columns: repeat(3, 1fr);
    }
    @media (max-width: 800px) {
      grid-template-columns: repeat(2, 1fr);
    }

    &-name {
      height: 100px;
      padding: 20px;
      background: #282828;
      border-radius: 5px;
      position: relative;
      cursor: pointer;

      &:hover {
        .team {
          &-managers {
            &-more {
              display: block;
            }
          }
        }
      }
    }

    &-more {
      position: absolute;
      bottom: 14px;
      left: 20px;
      right: 20px;
      display: none;
      width: calc(100% - 38px);
    }
  }
}

.name_color {
  color: #F5A623;
  margin-bottom: 4px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}


.partners {
  display: grid;
  grid-template-columns: 1fr;
  padding: 0 50px;
  margin-bottom: 170px;

  @media (max-width: 700px) {
    padding: 0 20px;
  }

  &-title {
    /* BUSINESS & MEDIA PAR: */
    font-family: Roboto-Bold, sans-serif;
    font-size: 21px;
    color: #FFFFFF;
    text-transform: uppercase;
  }

  &-cards {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 20px;
    margin-top: 40px;
    @media (max-width: 1200px) {
      grid-template-columns: repeat(4, 1fr);
    }
    @media (max-width: 950px) {
      grid-template-columns: repeat(3, 1fr);
    }
    @media (max-width: 700px) {
      grid-template-columns: repeat(2, 1fr);
    }

    &-card {
      height: 9vw;
      @media (max-width: 700px) {
        height: 100px;
      }
    }
  }
}

.partner_one {
  background: url("/assets/partners/partner-1.png") center /cover no-repeat;
}

.partner_two {
  background: url("/assets/partners/partner-2.png") center /cover no-repeat;
}

.partner_three {
  background: url("/assets/partners/partner-3.png") center /cover no-repeat;
}

.partner_four {
  background: url("/assets/partners/partner-4.png") center /cover no-repeat;
}

.partner_five {
  background: url("/assets/partners/partner-5.png") center /cover no-repeat;
}

.partner_six {
  background: url("/assets/partners/partner-6.png") center /cover no-repeat;
}

.label {
  display: grid;
  grid-template-columns: 1fr;
  background: #F5A623;

  &-wrap {
    padding: 50px;
    @media (max-width: 700px) {
      padding: 50px 20px;
    }

    &-title {
      font-family: Roboto-Bold, sans-serif;
      font-size: 34px;
      color: #FFFFFF;
      width: 50%;
      @media (max-width: 1060px) {
        width: 80%;
      }
      @media (max-width: 810px) {
        width: 100%;
      }
    }

    &-text {
      width: 50%;
      font-size: 14px;
      @media (max-width: 1060px) {
        width: 80%;
      }
      @media (max-width: 810px) {
        width: 100%;
      }
    }
  }
}

.news {
  margin-top: 130px;
  display: grid;
  grid-template-columns: 1fr;

  &-wrap {
    padding: 50px;
    @media (max-width: 700px) {
      padding: 50px 20px;
    }
  }

  &-title {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;

    &-text {
      /* News & Events: */
      font-family: Roboto-Bold, sans-serif;
      font-size: 21px;
      color: #FFFFFF;
      text-transform: uppercase;
    }

    &-more {
      display: flex;
      align-items: center;
      cursor: pointer;

      &-text {
        margin-right: 8px;
        text-decoration: none;
        color: white;

        &:hover {
          color: #F5A623;
        }
      }

      &-icon {
        height: 24px;
        width: 24px;
      }
    }
  }

  &-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    @media (max-width: 1200px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: 930px) {
      grid-template-columns: repeat(1, 1fr);
    }

    &-card {
      display: grid;
      grid-template-columns: 100px 1fr;
      grid-gap: 10px;
      padding: 16px 10px;
      cursor: pointer;

      &:hover {
        box-shadow: 1px 1px 1px 1px rgba(#F5A623, 0.50);
      }

      background: #282828;
      border-radius: 4px;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.50);

      &-image {
        background: #1D1E1F;
        display: block;
        width: 100%;
        height: 100%;
        overflow: hidden;
        position: relative;
      }

      &-text {
        text-decoration: none;

        &-date {
          color: #F5A623;
          text-decoration: none;
        }
      }
    }
  }
}

.icon_right {
  background: url("/assets/icons/icon_right.svg") center /cover no-repeat;
}

.img {
  position: absolute;
  top: 50%;
  left: 50%;
  object-fit: cover;
  max-width: none;
  max-height: none;
  width: 100%;
  height: 100%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}


.roadmap {
  display: grid;
  grid-template-columns: 1fr;
  padding: 50px;
  margin-bottom: 100px;
  @media (max-width: 700px) {
    padding: 50px 20px;
  }

  &-title {
    font-family: Roboto-Bold, sans-serif;
    font-size: 21px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 0 50px;
    margin-top: 110px;
    @media (max-width: 700px) {
      padding: 0 20px;
    }
  }

  &-wrap {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 1fr 3px 1fr;
    grid-gap: 20px;
    @media (max-width: 930px) {
      grid-template-columns: 1fr 3px 1fr;
    }
  }

  &-item {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px;
    position: relative;
    @media (max-width: 930px) {
      grid-template-columns: 1fr;
    }

    &-dot {
      height: 5px;
      width: 5px;
      background: #FFFFFF;
      border: 4px solid rgba(155, 155, 155, 0.21);
      border-radius: 20px;
      position: relative;
      top: -5px;
      opacity: 0.9;
      @media (max-width: 930px) {
        grid-template-columns: 1fr;
        left: -5px;
        top: 25px;
        opacity: 0.4;
      }
    }
  }
}

.color_line {
  background: #F5A623;
}

.data_color {
  color: #F5A623;
  margin-bottom: 12px;
}

.color {
  color: #F5A623;
}
