/* You can add global styles to this file, and also import other style files */

html, body {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;

  background: #1D1E1F;
  color: white;
  font-size: 13px;
}

.under {
  position: relative;
}

.under::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #F5A623;
  transform-origin: bottom right;
  transform: scaleX(0);
  transition: transform 0.5s ease;
}

.under:hover::before {
  transform-origin: bottom left;
  transform: scaleX(1);
}

.text_link {
  text-decoration: none;
  color: white;
}
