<div class="faq">
    <h1 class="faq-title">FAQ</h1>

    <div class="faq-columns">
        <div class="faq-columns-wrap">
            <p class="faq-columns-wrap-text">If you have additional questions, you can always ask them to us personally
                in the telegram channel.</p>
            <div class="faq-columns-wrap-text2">Respectfully the site administration</div>
        </div>
        <div class="faq-columns-questions">
            <h2 class="faq-columns-questions-title">General</h2>
            <mat-accordion>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            What is Pukkamex?
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>Pukkamex is a crypto derivative high leverage trading
                        platform that shares its revenue with its userbase and
                        token holders.</p>
                </mat-expansion-panel>

                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Do you have a prototype?
                        </mat-panel-title>

                    </mat-expansion-panel-header>
                    <p>Yes, it’s accessbile on <a href="http://mvp.pukkamex.com" target="_blank">mvp.pukkamex.com</a></p>
                </mat-expansion-panel>

                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            What about trading fees?
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>We charge an industry low of 0.075% taker fee and a
                        0.025% maker rebate.</p>
                </mat-expansion-panel>

                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            What happens to unsold tokens?
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>All the unsold tokens will be moved to a dedicated address where they will be held.
                        The PUX tokens are airdropped to PUX token holders monthly relative to their holdings to total
                        supply of PUX.</p>
                </mat-expansion-panel>

                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            How is the Weekly Community Reward Airdrop distributed?
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>pukkamex greatly appreciates the participation of our community members! A smart contract
                        airdrops GO equivalent to the USD revenue generated each week, at approximately 12 PM GMT on
                        Sunday. The reward is sent directly to the PUX holder’s Go-20 address. Each holder is rewarded
                        relative to their PUX Holdings.</p>
                </mat-expansion-panel>

                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            What competitive advantages do you have over other
                            trading platforms?
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>Many, but the main three are: Copy Trading, Weekly Community Reward Airdrop and our PUX Points
                        and Anti-Liquidation Insurance. Refer to our white paper and website for more details or email
                        us on info@pukkamex.com for more information.</p>
                </mat-expansion-panel>

                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Why should I sign up for early access?
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>Early access has now closed. Our early supporters were rewarded with 2 weeks of zero free trading
                        accounts in addition to other prizes. Refer to our article for more information about our early
                        access program.</p>
                </mat-expansion-panel>
            </mat-accordion>

            <h2 class="faq-columns-questions-title">PUX Token</h2>
            <mat-accordion>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            What is the utility of the pukkamex token?
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>The native pukkamex token is PUX. PUX holders are rewarded by receiving a weekly airdrop in GO
                        tokens equivalent to 25% of gross revenue via smart contract. pukkamex will also be employing a
                        buyback and token burn mechanism, read our white paper to learn more.</p>
                </mat-expansion-panel>

                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            What blockchain is the PUX token built on?
                        </mat-panel-title>

                    </mat-expansion-panel-header>
                    <p>Pukkamex is proud to be the first ICO to launch on GoChain. The ICO and the Weekly Community
                        Reward Airdrop smart contract will both be deployed on GoChain.</p>
                </mat-expansion-panel>

                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Can you tell me more about PUX tokenomics?
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>A fully detailed sheet is available for download on our homepage.</p>
                </mat-expansion-panel>

                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            What determines the price of PUX tokens on exchanges?
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>Forces of supply and demand. However, the PUX tokens can be valued using a DCF model.</p>
                </mat-expansion-panel>
            </mat-accordion>

            <h2 class="faq-columns-questions-title">Token sale</h2>
            <mat-accordion>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            What currencies can I use to purchase PUX tokens?
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>We accept GO, BTC, USD and/or Ether during our private sale. Only USDT tokens are accepted during
                        the IEO on Lbank.</p>
                </mat-expansion-panel>

                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            How do I participate in the token sale?
                        </mat-panel-title>

                    </mat-expansion-panel-header>
                    <p>pukkamex will be conducting an IEO on Lbank on the 23d of August 2019! <a
                            href="https://medium.com/@pukkamex/official-pukkamex-ieo-on-lbank-info-b4de8570cb69">more</a>
                        <br>All you need to do is sign up on Lbank.info and deposit USDT into your account.
                        Alternatively, you can email us on <a href="mailto:contribute@pukkamex.com"> contribute@pukkamex.com</a> for additional information.</p>
                </mat-expansion-panel>

                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            What is the IEO token price?
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>0.05USDT/ PUX.</p>
                </mat-expansion-panel>

                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            What is the token sale soft and hard caps?
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>Soft cap for the project is 1.5 million and hard cap is
                        set at 3.75 million US$.</p>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
    </div>
</div>
