.faq {
  display: grid;
  grid-template-columns: 1fr;
  padding: 0 50px;
  margin: 100px 0 80px 0;

  @media (max-width: 700px) {
    padding: 0 20px;
    margin: 100px 0;
  }

  &-title {
    margin-bottom: 30px;
  }

  &-columns {
    display: grid;
    grid-template-columns: 400px 1fr;
    grid-gap: 50px;
    @media (max-width: 1024px) {
      grid-template-columns: 1fr;
      grid-gap: 20px;
    }

    &-wrap {
      &-text {
        font-size: 18px;
      }

      &-text2 {
        font-size: 14px;
      }
    }

    &-questions {

      &-title {
        color: #F5A623;

        &:not(:first-child) {
          margin-top: 40px;
        }
      }
    }

  }
}
